{% extends "base.html" %}

{% block 'title' %}Planet Details: {{ planeta.name }}{% endblock %}

{% block 'body' %}
<div class="my-3 p-3 bg-body rounded shadow-sm">
<h1>Planet Details: {{ planeta.name }}</h1>
<hr>

<p><strong>Nome:</strong> {{ planeta.name }}</p>
<p><strong>Diâmetro (km):</strong> {{ planeta.diametro_km }}</p>
<p><strong>Massa (kg):</strong> {{ planeta.massa_kg }}</p>
<p><strong>Distância Média ao Sol (km):</strong> {{ planeta.distancia_media_ao_sol_km }}</p>
<p><strong>Período Orbital (dias):</strong> {{ planeta.periodo_orbital_dias }}</p>
<p><strong>Temperatura Média (°C):</strong> {{ planeta.temperatura_media_celsius }}</p>
<p><strong>Descrição:</strong> {{ planeta.descricao }}</p>
<hr>
<a class="btn btn-secondary" href="{% url 'list_planets' %}">Return to Planets list</a>
</div>
{% endblock %}
