{% extends "base.html" %}
{% block title %}Distâncias Entre Planetas{% endblock title %}

{% block main %}
<div class="container">
    <h1>Lista de Distâncias Entre Planetas</h1>
        
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Planeta de Origem</th>
                <th>Planeta de Destino</th>
                <th>Distância (km)</th>
            </tr>
        </thead>
        <tbody>
            {% for distancia in distancias %}
                <tr>
                    <td>{{ distancia.planeta_origem.nome }}</td>
                    <td>{{ distancia.planeta_destino.nome }}</td>
                    <td>{{ distancia.distancia_km }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Nenhuma distância cadastrada.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'criar_distancia' %}" class="btn btn-primary">Criar Nova Distância</a>
</div>
{% endblock main %}


